@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
nav{
    background-color: #4A4A4A;
}
.navbar{
    width: 80%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
ul li{
    margin: 0 16px;
    list-style: none;
}
ul li a{
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.menu{
    display: none;
}
footer{
    background-color: #4A4A4A;
}
footer .container{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    color: white;
    padding-top: 26px;
    row-gap: 60px;
    align-items: center;
    justify-content: center;
}
footer .container .footer-top{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

.offer{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.offer h2{
    line-height: 36px;
}
.offer .icons{
    display: flex;
    column-gap: 30px;
}
.offer button{
    align-self: flex-start;
    width: 140px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}
.advantages{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.advantage{
    display: flex;
    align-items: center;
    column-gap: 4px;

}
.copyright{
    grid-column: 1 / 3;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    align-self: flex-end;
    color: #D0D0D0;
}
.favourite-plats{
    text-align: center;
    margin-top: 60px;
}
.options{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.options .option{
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgb(110, 110, 110);
    padding: 0 14px;
}
.plats{
    display: grid;
    width: 96%;
    margin: 0 auto;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 20px;
    margin-top: 80px;
    row-gap: 80px;
    margin-bottom: 200px;
}
.plats .plat{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    box-shadow: 0px 0px 10px 0px rgb(112, 112, 112);
    border-radius: 10px;
}
.plat-title , .plat-price{
    margin-left: 20px;
}
.plat-price{
    font-weight: bold;
}
.plats .plat .add{
    align-self: flex-end;
    margin-right: 14px;
    margin-bottom: 14px;
    width: 40px;
    height: 40px;
    border-radius: 180px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 24px;
}
.plats .calculate{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    align-self: center;
    text-align: center;
    padding: 10px 0;
    row-gap: 80px;
}
.plats .plat .plat-image{
    width: 92%;
    margin-left: 4%;
    height: 220px;
    border-radius: 10px;
    margin-top: 10px;
}
.plats .plat .plat-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.sold{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    row-gap: 10px;
}
.sold .plat-price-sold{
    font-weight: bold;
}
.active{
    background-color: violet;
    box-shadow: 0px 0px 8px 0px #ee82eec4;
}
@media (max-width:768px) {
    .nav-menu{
        position: absolute;
        margin-top: 80px;
        height: 400px;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        background-color: #4A4A4A;
        background-size: contain;
        padding-top: 80px;
        display: none;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    ul li a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    .menu{
        display: block;
    }
    footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
        width: 80%;
        margin: 0 auto;
    }
    .offer{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }
    .offer button{
        align-self: center;
    }
    .copyright{
        margin-bottom: 10px;
        align-self: center;
    }
    .options{
        width: 40%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 50px;
        row-gap: 20px;
    }
    .options .option{
        column-gap: 30px;
    }
    .plats{
        display: flex;
        width: 60%;
        flex-direction: column;
    }
    .plats .plat .plat-image{
        height: 300px;
    }
    .plats .plat{
        row-gap: 34px;
    }
    .plats .calculate{
        width: 100%;
    }
}